@use "../config/" as *;

.u-visually-hidden {
  @include visually-hidden;
}

.u-skip-link {
  @include visually-hidden;

  &:focus {
    position: fixed;
    top: rm(8);
    left: rm(8);
    z-index: 9999;
    width: auto;
    height: auto;
    padding: rm(8) rm(16);
    margin: 0;
    overflow: visible;
    clip: auto;
    clip-path: none;
    white-space: nowrap;
    background-color: $main-color;
    color: $text-main;
    font-size: rm(14);
    text-decoration: none;
  }
}
