@use "../config/" as *;

// フッター内側余白（カンプ px）
$footer-inner-padding-block: 40;

.l-footer {
  background-color: $main-color;
  color: $reverse-color;
  overflow: hidden;
}

.l-footer__inner {
  padding-block: rm($footer-inner-padding-block);
}
