@use "../config/" as *;

.l-header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: $z-header;
  width: 100%;

  @include mq(lg) {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba($bg-main, 0.5);
      pointer-events: none;
    }
  }
}

.l-header__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-block: rm(20);
  position: relative;
  width: 100%;
  height: inherit;
  padding-inline: rm($sp-sidePadding) calc(rm($sp-sidePadding) - rm(4)); // スマホ版のハンバーガーアイコンの位置調整
  margin-inline: auto;

  @include mq(lg) {
    display: block;
    min-height: rm(120);
    padding-block: rm(30);
    max-width: rm(938);
    padding-inline: 0;
  }
}

.l-header__logo {
  flex-shrink: 0;
  width: rm(70);
  transition: opacity 0.3s ease;
  z-index: $z-drawerIcon;

  @include mq(lg) {
    position: absolute;
    top: rm(35);
    left: 50%;
    z-index: 1;
    width: rm(114);
    translate: -50% 0;
  }

  &:focus-visible {
    opacity: 0.7;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}
