@use "../config/" as *;

.p-feature__head {
  position: relative;
  color: $text-main;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}

.p-feature__head-badge {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-14deg);
}
