@use "sass:math";
//_variables.scss
$ff: "Noto Sans JP", sans-serif; // bodyに指定するフォント
$ff-jp: "Noto Sans JP", sans-serif; //日本語onlyのフォント
$ff-en: "Jost", sans-serif; //英語onlyのフォント

//===========================================
//   レイアウト (単位は不要)
//===========================================
$pc-inner: 1140; // pc版inner幅
$pc-sidePadding: 30; //pc版サイドのpadding
$pc-inner-sum: calc($pc-inner + $pc-sidePadding * 2);
$pc-narrow-inner: 1000; //狭いinner幅
$pc-narrow-inner-sum: calc($pc-narrow-inner + $pc-sidePadding * 2);
$breakpoint: 768; // ブレイクポイント (pc版カンプとsp版カンプの境界)
$sp-sidePadding: 20; //sp版サイドのpadding
$pc-camp: 1440; // pc版のカンプサイズを入力
$sp-camp: 375; // sp版のカンプサイズを入力
$sp-inner: 600;
$sp-inner-sum: calc($sp-inner + $sp-sidePadding * 2);

$sm-breakpoint: 500; // small版ブレイクポイント

//z-index
$z-header: 100;
$z-drawerIcon: 102;
$z-drawer: 101;

//===========================================
//   カラー
//===========================================
$text-main: #565956;
$text-white: #fff;
// $text-accent: #99b901;

$base-color: #fff;
$main-color: #f2f4f1;

$accent-green: #609484;
$accent-gold: #948260;

$hover-color: #565956;

$bg-main:#fff;
$bg-sub:#F5F5F5;

// $color-other1: #e10048;
// $color-other2: #105f00;
// $color-other3: #fdd401;
// $color-other4: #ffa426;
// $color-other5: #99b901;
